.DS_Store
node_modules/
dist/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# History
.history/
history/

# Unpackage directory - ignore all contents
unpackage/**
unapckage/**

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
