<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script src="https://www.gujing.cn/commons/js/aws.mobile.api.js"></script>
		<title>
			<%= htmlWebpackPlugin.options.title %>
		</title>
		<!-- Open Graph data -->
		<!-- <meta property="og:title" content="Title Here" /> -->
		<!-- <meta property="og:url" content="http://www.example.com/" /> -->
		<!-- <meta property="og:image" content="http://example.com/image.jpg" /> -->
		<!-- <meta property="og:description" content="Description Here" /> -->
		<script>
			var coverSupport = 'CSS' in window && typeof CSS.supports === 'function' && (CSS.supports('top: env(a)') || CSS.supports('top: constant(a)'))
			document.write('<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' + (coverSupport ? ', viewport-fit=cover' : '') + '" />')
		</script>
		<link rel="stylesheet" href="<%= BASE_URL %>static/index.<%= VUE_APP_INDEX_CSS_HASH %>.css" />
		<style>
			html,body{
				font-family: 'my-font' !important;
			}
		</style>
	</head>
	<body>
		<noscript>
			<strong>Please enable JavaScript to continue.111111111</strong>
		</noscript>
		<div id="app"></div>
		<!-- built files will be auto injected -->
	</body>
	<script src="https://www.gujing.cn/commons/js/aws.mobile.api.js"></script>
	<script>
		console.log('%c @@@@@@@@@@@@@@@123456789 ',
		      'background: black; color: red')
		console.log("awsWebview.isMobileAWSApp"+awsWebview.isMobileAWSApp())
		if(awsWebview.isMobileAWSApp()){
		  awsWebview.hideTitle()
		}
	</script>
</html>
